---
name: Build

on:
  pull_request:
    branches:
      - main
      - master
    types:
      - closed

env:
  tag_version: v0.0.12 #${{github.run_id}}

jobs:
  commitizen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Install commitizen
        run: |
          pip install commitizen

      - name: Create bump and changelog
        id: changelog
        uses: commitizen-tools/commitizen-action@master
        with:
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Outputs Changelogs
        run: |
          echo ${{ steps.changelog.outputs }}

      # bump-version:
      #   if: "!startsWith(github.event.head_commit.message, 'bump:')"
      #   runs-on: ubuntu-latest
      #   name: "Bump version and create changelog with commitizen"
      #   steps:
      #     - name: Check out
      #       uses: actions/checkout@v2
      #       with:
      #
      #         github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      #     - name: Create bump and changelog
      #       uses: commitizen-tools/commitizen-action@master
      #       with:
      #         github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ env.REVISION }}
          release_name: ${{ env.REVISION }}
          body: |
            Changes in this Release
            - First Change
            - Second Change
          draft: false
          prerelease: false

  # - name: Before Build
  #   run: |
  #     cz check

  # - name: Bump-version
  #   run: |
  #     echo "### Building the package ###"

  # - name: Publish packages
  #   run: |
  #     echo "### Package was publish ###"

  # bump-version:
  #   if: "!startsWith(github.event.head_commit.message, 'bump:')"
  #   runs-on: ubuntu-latest
  #   name: "Bump version and create changelog with commitizen"
  #   steps:
  #     - name: Check out
  #       uses: actions/checkout@v2
  #       with:
  #         fetch-depth: 0

  #     - name: Create bump and changelog
  #       uses: commitizen-tools/commitizen-action@master
  #       with:
  #         github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  # changelog_increment_filename: CHANGELOG.md
