---
name: Checkers

on: [push]

jobs:
  linters:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      checks: write
      deployments: write
      issues: write
      pull-requests: write
      repository-projects: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          github_token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Pip installations
        run: |
          pip install pre-commit
          pip install shellcheck-py
          pip install pydocstyle
          pip install black
          pip install prospector
          pip install radon

      - name: Before Pre-commits
        run: |
          pre-commit install --hook-type commit-msg --hook-type pre-push
          pre-commit install

      - name: Pre-commits
        run: |
          pre-commit run --all-files

      - name: Check Cyclomatic Complexity
        run: |
          echo "### Cyclomatic Complexity ###"
          radon cc .

      - name: Check Maintainability Complexity
        run: |
          echo "### Maintainability Complexity ###"
          radon mi .

      - name: Check Computability Complexity
        run: |
          echo "### Computability Complexity ###"
          radon raw .

      - name: Install commitizen
        if: "!startsWith(github.event.head_commit.message, 'bump:')"
        run: |
          echo "\n##############"
          ls -rlta
          echo "\n##############"
          chmod -R 777 .
          echo "\n##############"
          ls -rlta
          echo "\n##############"
          pip install commitizen
          echo "\n##############"
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          echo "\n##############"
          git branch
          echo "\n##############"
          git log
          echo "\n##############"
          git tag --list
          echo "\n##############"
          echo cz bump --yes
          echo "\n##############"
          git log
          echo "\n##############"
          echo cz bump --changelog
          echo "\n##############"
          git push
          git push --tags
          echo "\n##############"
          git rev-list --tags --max-count=1
          echo "\n##############"
          cat CHANGELOG.md
          echo "\n##############"
          cat pyproject.toml

  # bump-version:
  #   if: "!startsWith(github.event.head_commit.message, 'bump:')"
  #   runs-on: ubuntu-latest
  #   name: "Bump version and create changelog with commitizen"
  #   permissions:
  #     contents: write
  #     issues: write
  #     pull-requests: write
  #   steps:
  #     - name: Check out
  #       uses: actions/checkout@v2
  #       with:
  #         fetch-depth: 0
  #         token: "${{ secrets.GITHUB_TOKEN }}"

  # - name: Create bump and changelog
  #   uses: commitizen-tools/commitizen-action@master
  #   with:
  #     github_token: ${{ secrets.GITHUB_TOKEN }}
  # changelog_increment_filename: CHANGELOG.md

  # - name: Create bump and changelog
  #   id: changelog
  #   uses: commitizen-tools/commitizen-action@master
  #   with:
  #     github_token: "${{ secrets.GITHUB_TOKEN }}"
  #     # github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  #     changelog_file: CHANGELOG.md
  #     # changelog_incremental: true
